<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
     <link rel="stylesheet" href="/css/forgotpassword.css">
</head>
<body>
    

    
<div class="container">
    
      <div class="card">
        <h2>Reset Password</h2>
       {{#if errors}}
<p class="{{msg_type}}">{{errors}}</p>
{{/if}} 

    
    <form action="/reset-password/{{id}}/{{token}}" method="post">

    <input type="hidden" name="email" value="{{email}}"><br>

    <input type="password" name="password" id="password" placeholder="Password" class="control"><br>

<input type="password" name="cnfm_password" id="cnfm_password" class="control" placeholder="Confirm_Password"><br>


{{!-- <a href="#">forgot password?</a><br> --}}

<button type="submit" id="submit">Reset Now</button>
    </form>
      </div>
</div>

</body>
</html>